* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #F6F3EE;
    color: #2E2E2E;
    line-height: 1.6;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.links a {
    margin-left: 20px;
    text-decoration: none;
    color:#2E2E2E;
    font-size: 14px;
}

.links a:hover {
    color: #7C9A8E;
}

.btn {
    padding: 8px 14px;
    border: 1px solid #7C9A8E;
    border-radius: 20px;
}

.hero h1 {
    font-size: 38px;
    max-width: 700px;
    margin: 0 auto 15px;
}

.hero p {
    color: #666;
    margin-bottom: 25px;
}

.primary-btn {
    display: inline-block;
    padding: 12px 22px;
    background: #7C9A8E;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    transition: 0.3 ease;
}

.primary-btn hover {
    opacity: 0.85
}

.gallery h2 {
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

.card {
    height: 180px;
    background: #fff;
    border-radius: 12px;
    border: 1px solid #E7E2DA;
    transition: transform 0.25s ease;
}

.card:hover {
    transform: scale(1.03);
}

.about {
    padding: 60px 40px;
    max-width: 800px;
}

.about h2 {
    margin-bottom: 15px;
}

.highlight {
    margin-top: 25px;
    padding: 20px;
    background: #fff;
    border-left: 4px solid #7C9A8E;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 40px;
    color: #777;
}