* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('images/background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    padding-top: 80px;
}


.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

.logo img {
    width: 50px;
    height:auto;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.join-btn {
    background: rgb(0, 138, 131);
    color: black !important;
    padding: 8px 14px;
    border-radius: 8px;}

.hero {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    opacity: 0.8;
    margin-bottom: 20px;
}   

.login-btn {
    padding: 12px 20px;
    background: #008472;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

.join-btn {
    padding: 12px 20px;
    background: #008472;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 80px 20px;
    flex-wrap: wrap;
}

.card {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    padding: 20px;
    width: 250px;
    backdrop-filter: blur(10px);
}

.cta {
   padding: 12px 20px;
   background: #3fd6c2;
   color: black;
   border-radius: 10px;
   text-decoration: none;
   font-weight: bold;
}



footer {
    text-align: center;
    padding: 30px;
    opacity: 0.6;
}